.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
		background-color: #007bff;
	}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
     background-color: #007bff; 
}
#deletevalue { 
		margin-bottom: 15px;
		 color: #fff; 
} 
#datatable_wrapper {
	 clear:both; 
}

#checkalluser{
	margin-left: 1px;
	margin-top: -15px;
}